@model tamagotchi_task.Models.ViewModels.Avatar.AccessoryModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <script src="~/js/create.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/css/create.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/tamagotchi_task.styles.css" asp-append-version="true"/>
</head>
<body>
    <div id="welcomeDiv" class="answer_box" >
            <div id="mess">
                <img src="~/img/catMes.png">
                <p>Here you can choose your character with which you will complete tasks</p>
            </div>
        <div>
            <img id="myWallpaper" src="~/img/circle.png">
            <img id="myImg" src="~/img/cat0.png">
            <img id="myAccessories" src="">
        </div>
        <div id="showAccessories" class="buttoncolor">
            <input type="image" src="/img/hat1.png" onclick="document.getElementById('text').value='/img/hat1.png'; document.getElementById('myAccessories').src='/img/hat1.png';">
            <input type="image" src="/img/hat2.png" onclick="document.getElementById('text').value='/img/hat2.png'; document.getElementById('myAccessories').src='/img/hat2.png';">
            <input type="image" src="/img/hat3.png" onclick="document.getElementById('text').value='/img/hat3.png'; document.getElementById('myAccessories').src='/img/hat3.png';">
            <input type="image" src="/img/ball1.png" onclick="document.getElementById('text').value='/img/ball1.png'; document.getElementById('myAccessories').src='/img/ball1.png';">
            <input type="image" src="/img/ball2.png" onclick="document.getElementById('text').value='/img/ball2.png'; document.getElementById('myAccessories').src='/img/ball2.png';">
            <input type="image" src="/img/ball3.png" onclick="document.getElementById('text').value='/img/ball3.png'; document.getElementById('myAccessories').src='/img/ball3.png';">
            <input type="image" src="/img/clothes1.png" onclick="document.getElementById('text').value='/img/clothes1.png'; document.getElementById('myAccessories').src='/img/clothes1.png';">
            <input type="image" src="/img/clothes2.png" onclick="document.getElementById('text').value='/img/clothes2.png'; document.getElementById('myAccessories').src='/img/clothes2.png';">
            <input type="image" src="/img/clothes3.png" onclick="document.getElementById('text').value='/img/clothes3.png'; document.getElementById('myAccessories').src='/img/clothes3.png';">
        </div>
         <form asp-controller="Character" asp-action="Accessory">
            <input type="text" id="text" style="display: none" asp-for="Accessory"/>
            <button type="submit" id="finish" value="" class="start">Finish!</button>
         </form>
    </div>
</body>
</html>