@using System.Net.Mime
@model tamagotchi_task.Models.ViewModels.Avatar.ColorModel

@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <script src="~/js/create.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/css/create.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/tamagotchi_task.styles.css" asp-append-version="true"/>
</head>
<body>
    <div id="welcomeDiv" class="answer_box" >
            <div id="mess">
                <img src="~/img/catMes.png">
                <p>Here you can choose your character with which you will complete tasks</p>
            </div>
        <div>
            <img id="myWallpaper" src="~/img/circle.png">
            <img id="myImg" src="~/img/cat0.png">
            <img id="myAccessories" src="">
        </div>
        <div id="showColor" class="buttoncolor">
            <input type="image" src="/img/cat0.png" onclick="document.getElementById('text').value='~/img/cat0.png'; document.getElementById('myImg').src='/img/cat0.png';">
            <input type="image" src="/img/cat2.png" onclick="document.getElementById('text').value='~/img/cat2.png'; document.getElementById('myImg').src='/img/cat2.png';">
            <input type="image" src="/img/cat3.png" onclick="document.getElementById('text').value='~/img/cat3.png'; document.getElementById('myImg').src='/img/cat3.png';">
            <input type="image" src="/img/cat4.png" onclick="document.getElementById('text').value='~/img/cat4.png'; document.getElementById('myImg').src='/img/cat4.png';">
            <input type="image" src="/img/cat5.png" onclick="document.getElementById('text').value='~/img/cat5.png'; document.getElementById('myImg').src='/img/cat5.png';">
            <input type="image" src="/img/cat6.png" onclick="document.getElementById('text').value='~/img/cat6.png'; document.getElementById('myImg').src='/img/cat6.png';">
            <input type="image" src="/img/cat7.png" onclick="document.getElementById('text').value='~/img/cat7.png'; document.getElementById('myImg').src='/img/cat7.png';">
            <input type="image" src="/img/cat8.png" onclick="document.getElementById('text').value='~/img/cat8.png'; document.getElementById('myImg').src='/img/cat8.png';">
            <input type="image" src="/img/cat9.png" onclick="document.getElementById('text').value='~/img/cat9.png'; document.getElementById('myImg').src='/img/cat9.png';">
            <input type="image" src="/img/cat10.png" onclick="document.getElementById('text').value='~/img/cat10.png'; document.getElementById('myImg').src='/img/cat10.png';">
            <input type="image" src="/img/cat11.png" onclick="document.getElementById('text').value='~/img/cat11.png'; document.getElementById('myImg').src='/img/cat11.png';">
            <input type="image" src="/img/cat12.png" onclick="document.getElementById('text').value='~/img/cat12.png'; document.getElementById('myImg').src='/img/cat12.png';">
        </div>
        <form asp-controller="Character" asp-action="Color">
            <input type="text" id="text" style="display: none" asp-for="Color"/>
            <button type="submit" id="finish" value="~/img/cat0.png" class="start">Next</button>
        </form>
    </div>
</body>
</html>