@model tamagotchi_task.Models.ViewModels.CharacterModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <script src="~/js/create.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/css/create.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/tamagotchi_task.styles.css" asp-append-version="true"/>
</head>
<body>
    <div id="box1" class="box">
        <h1>Welcome to</h1>
        <h2>TAMOTASK</h2>
        <img src="~/img/cat.png">
        <div class="startmessage">
            <p>Hey! It must be your first time here. My name is Tamo!</p>
            <p>Before we start, let's decide what to call you. Below you will find the display name. Once you've chosen your name, we'll start by creating an avatar!</p>
        </div>
        <form asp-action="Create" asp-controller="Character">
            <div class="input">
                <label class="displayname">Your name</label>
                <input class="inputname" type="text" placeholder="Name" asp-for="Name">
            </div>
            <button type="submit" class="start">Start!</button>
        </form>
    </div>
</body>
</html>