@model IQueryable<Inventory>

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/inventory.css" asp-append-version="true"/>
</head>
<body>
<div class="money">
    <p><img src="~/img/coin.png">256</p>
</div>
<div class="search">
    <input type="text" maxlength="12" placeholder="Search" class="searchbar">
    <img src="https://images-na.ssl-images-amazon.com/images/I/41gYkruZM2L.png" alt="search icon" class="buttonSearch">
</div>
<div class="content">
    <div class="grid container">
        @if (Model != null)
        {
            foreach (var thing in Model)
            {
                <div class="f-@thing.Id item">
                    <h4>@thing.Item_Name</h4>
                    <img src="@thing.Image" alt=""/>
                    <p class="amount">Amount:</p>
                    <p class="desc">@thing.Amount</p>
                    <form id="form-@thing.Id" asp-action="Use" asp-controller="Character">
                        <input type="hidden" name="itemID" value="@thing.Id">
                        <input type="submit" id="usebut" value="Use">
                    </form>
                </div>
            }
        }
    </div>
</div>
</body>
</html>