@model IQueryable<Showcase>

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/shop.css" asp-append-version="true"/>
</head>
<body>
    <div class="money">
    <p style="position: absolute; right: 0; padding-right: 30px; font-family: Rubik; image-rendering: pixelated; color: #7c0000"><img src="~/img/coin.png">256</p>
    </div>
    <div class="content">
        <div class="grid container">
            @foreach (var thing in Model)
            {
            <div class="f-@thing.Id">
                <h4>@thing.Item_Name</h4>
                <img src="@thing.Image" alt="" />
                <p class="desc"><img class="coin" src="~/img/coin.png">@thing.Price</p>
                <form id="form-@thing.Id" asp-action="Buy" asp-controller="Character">
                    <input type="hidden" name="itemID" value="@thing.Id">
                    <input type="submit" id="buy" value="Buy">
                </form>
            </div>
            }
        </div>
    </div>
</body>
</html>