<link href="~/css/chat.css" rel="stylesheet">
<div class="money">
  <p><img src="~/img/coin.png">256</p>
</div>
<div class="container">
  <section class="msger">
    <main class="msger-chat">
      <!-- сообщение от пользователя -->
      <div class="msg left-msg">
        <div class="msg-img"><img src="~/img/cat9.png"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Vlad</div>
            <time class="msg-info-time">12:45</time>
          </div>

          <div class="msg-text">Всем привет! 😄</div>
        </div>
      </div>

      <!-- сообщение от пользователя -->
      <div class="msg left-msg">
        <div class="msg-img"><img src="~/img/cat3.png"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">$emen</div>
            <time class="msg-info-time">12:46</time>
          </div>

          <div class="msg-text">Куу</div>
        </div>
      </div>

      <div class="msg left-msg">
        <div class="msg-img"><img src="~/img/cat7.png"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Nastya</div>
            <time class="msg-info-time">12:46</time>
          </div>

          <div class="msg-text">Привет</div>
        </div>
      </div>

      <!-- сообщение от меня -->
      <div class="msg right-msg">
        <div class="msg-img"><img src="~/img/cat6.png"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Me</div>
            <time class="msg-info-time">12:47</time>
          </div>

          <div class="msg-text">Дарова!</div>
        </div>
      </div>

    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" placeholder="Enter your message...">
      <button type="submit" class="msger-send-btn">SEND</button>
    </form>
  </section>
</div>