

@await Component.InvokeAsync("Message")
@model tamagotchi_task.Models.ViewModels.MessageModel;
<link href="~/css/chat.css" rel="stylesheet">
<div class="money">
  <p><img src="~/img/coin.png">256</p>
</div>
<div class="container">
  <section class="msger">
        
         <form class="msger-inputarea" asp-action="Chat" asp-controller="Home"> 
      <input type="text" class="msger-input" placeholder="Enter your message..." asp-for="Text" value="">
      <button type="submit" class="msger-send-btn">SEND</button>
        </form>
    
  </section>
</div>