@using tamagotchi_task.Models.ViewModels
@using tamagotchi_task.Domain

@{
    ViewData["Title"] = "Home Page";
}

<div class="money">
    <p style="position: absolute; right: 0; padding-right: 30px; font-family: Rubik; color: #7c0000"><img src="~/img/coin.png">256</p>  
</div>


@await Html.PartialAsync("Actions/Avatar");
@await Html.PartialAsync("Actions/CreateTask");
@*@await Html.RenderAction("GetTasks", Model.CharacterTasks)*@
@await Component.InvokeAsync("Tasks")


<link rel="stylesheet" href="~/css/dashboard.css" xmlns="http://www.w3.org/1999/html">

