@using tamagotchi_task.Models.ViewModels
@using tamagotchi_task.Domain
@model tamagotchi_task.Models.ViewModels.TaskModel

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/dashboard.css">
<script src="~/js/create.js" asp-append-version="true"></script>

@await Component.InvokeAsync("ShowCharacter")
@*Передача параметров в компонент представления через анонимное свойство*@
@await Component.InvokeAsync("Tasks", new {searchString = ViewBag.Search})

@*У меня не получается вынести post-метод отдельно :(*@
<script src="~/js/create.js" asp-append-version="true"></script>

<div class="wrapper">
    <form asp-action="Index" asp-controller="Home"> 
        <div class="input">
            <div id="rectangle2" style="top: 435px;"></div>
            <div>
                <input type="text" placeholder="My task" class="area" style="top: 450px;" maxlength="17" value="" asp-for="Name">
                <input type="text" placeholder="Description" class="area2"  style="top: 490px;" maxlength="17" value="" asp-for="Description">
                <div id="taginput" class="buttonSet" style="display: none">
                    <select name="tag" value="" class="start" asp-for="Tag" style="width: 150px; margin-left: 335px; padding-right: 5px; text-align: center">
                        <optgroup label="Set tag">
                            <option value="Sport">Sport</option>
                            <option value="Study">Study</option>
                            <option value="Home Chores">Home Chores</option>
                        </optgroup>
                    </select>
                    <button type="button" class="close" onclick="hideTag()">OK</button>
                </div>
                    
                <div id="difficultyinput" class="buttonSet" style="display: none">
                    <select name="difficulty" value="" class="start" asp-for="Difficulty" style="width: 110px; margin-left: 355px; padding-right: 5px; text-align: center">
                        <optgroup label="Set difficulty">
                            <option value="1">Low</option>
                            <option value="2">Medium</option>
                            <option value="3">High</option>
                        </optgroup>
                    </select>
                    <button type="button" class="close" onclick="hideDifficulty()">OK</button>
                </div>
                    
                <div id="dateinput" class="buttonSet" style="display: none">
                    <input class="start" style="width: 180px; text-align: center;" value="" asp-for="DeadLine" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
                    <button type="button" class="close" onclick="hideDate()">OK</button>
                </div>
                    
                <div class="buttonstask" style="top: 543px;">
                    <a title="Set tag" onclick="showTag()"><i class="fa fa-tags fa-1x"></i></a>
                    <a title="Set difficulty" onclick="showDifficulty()"><i class="fa fa-flag fa-1x"></i></a>
                    <a title="Set a deadline" onclick="showDate()"><i class="fa fa-calendar fa-1x"></i></a>
                </div>
                <input type="submit" id="buttonadd" style="top: 610px" value="ADD">
            </div>
        </div>
    </form>
</div>
