<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/inventory.css" asp-append-version="true"/>
</head>
<body>
    <div class="money">
    <p style="position: absolute; right: 0; padding-right: 30px; font-family: Rubik; color: #7c0000"><img src="~/img/coin.png">256</p>
    </div>
    <div class="content">
        <div class="grid container">
            <div class="item">
                <h4>Pharmacy</h4>
                <img src="https://habitica-assets.s3.amazonaws.com/mobileApp/images/shop_armor_warrior_1.png" alt="" />
                <p class="amount">Amount:</p>
                <p class="desc">1</p>
                <input type="submit" id="usebut" value="Use">
            </div>
            <div class="item">
                <h4>Deals</h4>
                <img src="https://habitica-assets.s3.amazonaws.com/mobileApp/images/shop_armor_special_spring2022Warrior.png" alt="" />
                <p class="amount">Amount:</p>
                <p class="desc">2</p>
                <input type="submit" id="usebut" value="Use">
            </div>
            <div class="item">
                <h4>SecondClinic</h4>
                <img src="https://habitica-assets.s3.amazonaws.com/mobileApp/images/shop_head_warrior_1.png" alt="" />
                <p class="amount">Amount:</p>
                <p class="desc">1</p>
                <input type="submit" id="usebut" value="Use">
            </div>
        </div>
    </div>
</body>
</html>