<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - tamagotchi_task</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b4a9a2e718.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/tamagotchi_task.styles.css" asp-append-version="true"/>
</head>
<body>
<div class="menu">
        <a href=""><i class="fa fa-table fa-1x"></i> Dashboard</a>
        <a href=""><i class="fa fa-gem fa-1x"></i> Shop</a>
        <a href=""><i class="fa fa-flask fa-1x"></i> Inventory</a>
        <a href=""><i class="fa fa-comment-dots fa-1x"></i> Chat</a>
        <a href=""><i class="fa fa-cat fa-1x"></i> Profile</a>
        <a href=""><i class="fa fa-door-open fa-1x"></i> Log Out</a>
    <div class="anim"></div>
    </div>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>