<div class="wrapper">
    <div class="avatar">
        <img src="~/img/circle.png" class="ava" alt="avatar">
        <img src="~/img/cat9.png" class="ava" id="cat" alt="avatarCat">
        <div id="rectangle"></div>
        <div>
            <p class="nickname">Hello</p>
        </div>
        <div class="heart">
            <img src="~/img/heart.png" alt="heart">
            <img src="~/img/heart.png" alt="heart">
            <img src="~/img/heart.png" alt="heart">
        </div>
        <div class="xp">
            <img src="~/img/star.png" alt="xp">
            <progress id="xpvalue" max="100" value="55"> </progress>
        </div>
       <div class="level">
           <div>
               <p>Level</p>
               <p class="num">23</p>
           </div>
           <div>
               <p>Intellect</p>
               <p class="num">5</p>
           </div>
           <div>
               <p>Strength</p>
               <p class="num">5</p>
           </div>
       </div>
    </div>
</div>