<div class="wrapper">
    <div class="avatar">
        <img src="~/img/circle.png" class="ava" alt="avatar">
        <img src="~/img/cat9.png" class="ava" id="cat" alt="avatarCat">
        <div id="rectangle"></div>
        <div>
            <p class="nickname">Name</p>
        </div>
        <div class="heart">
            <img src="~/img/heart.png" alt="heart">
            <img src="~/img/heart.png" alt="heart">
            <img src="~/img/heart.png" alt="heart">
        </div>
        <div class="xp">
            <img src="~/img/star.png" alt="xp">
            <progress id="xpvalue" max="100" value="55"> </progress>
        </div>
        <div>
            <p class="level">Level</p>
            <p class="numlevel">24</p>
        </div>
        <div>
            <p class="tasks">Tasks</p>
            <p class="numtasks">5</p>
        </div>
    </div>
</div>