:root {
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #3D3655;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    font-family: Rubik;
}

.money {
    display: table;
    position: absolute;
    right: 0px;
    top: -20px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    background-color: #3D3655;
}
.money img{
    image-rendering: pixelated;
}

.money p{
    position: relative;
    float: right;
    top: 18px;
    right: 15px;
    color: white;
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 150px);
}

.msger-chat {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}
.msger-chat::-webkit-scrollbar {
    width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}
.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.msg:last-of-type {
    margin: 0;
}
.msg-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    background: rgb(242, 241, 241);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-style: dashed;
    border-color: #bdbdbd;
    border-radius: 50%;
}

.msg-img img{
    pointer-events: none;
    width: 60px;
    image-rendering: pixelated;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}
.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}
.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}
.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
}
.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.container {
    padding-top: 50px;
    padding-left: 150px;
}

.msger-inputarea {
    display: flex;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: var(--border);
    background: rgb(239, 237, 237);
    border-radius: 0px 0px 48px 48px;
}
.msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}
.msger-input {
    width: 100%;
    border-radius: 15px;
    background: rgb(255, 255, 255);
}
.msger-send-btn {
    margin-left: 10px;
    background:  #3D3655;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: background 0.23s;
}
.msger-send-btn:hover {
    background: #4c4075;
}

.msger-chat {
    background-color: #fcfcfe;
    border-radius: 48px 48px 0px 0px;
    box-shadow: 13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(26.1418px);
}

