body{
    padding:0;
    margin:0;
    font-family: Rubik
}

.box {
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 380px;
    height: 510px;
    left: 35%;
    top:15%;
    background: rgb(255, 255, 255);
    box-shadow: 13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(26.1418px);
    border-radius: 31.3701px;
}

.box h1 {
    display: block;
    flex: auto;
    padding-top: 10px;
    margin-bottom: -20px;
}

.box h2 {
    padding-bottom: 100px;
    margin-bottom: -80px;
    display: block;
    font-family: 'Press Start 2P';
    flex:content;
    color: #3d3157;
}

.box .startmessage {
    width: 340px;
    margin-bottom: 20px;
    margin: 10px;
    margin-bottom: 30px;
    border-style: solid;
    border-radius: 31.3701px;
}

.box .startmessage p{
    width: 310px;
    margin-left: 20px;
}

.box .input {
    display:block;
    padding-bottom: 10px;
}

.box .displayname {
    padding-right: 20px;
    padding: 10.5px 12px;
    text-align: center;
    border-radius: 15px 0 0 15px;
    background-color:#4e4a57b3;
    color: white;
}

.box .inputname {
    padding: 11px 12px;
    border-radius: 0px 15px 15px 0px;
    font-size: 14px;
    color: #4e4a57;
    border: 1px solid #c3c0c7;
    font-family: Rubik
}

.box img {
    margin-bottom: -40px;
    z-index: 2;
}

.box .start {
    margin-left: 90px;
}


img {
    width: 100px;
    image-rendering: pixelated;
    pointer-events: none;
}

.start {
    text-align: center;
    font-size: 16px;
    width: 110px;
    border-radius: 15px;
    background-color:#4e4a57;
    color: white;
    margin-bottom: 12px;
    padding: 10px;
}

.answer_box {
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 610px;
    left: 40%;
    top:10%;
    background: rgb(255, 255, 255);
    box-shadow: 13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(26.1418px);
    border-radius: 31.3701px;
}

#myImg {
    display: inline;
    position: center;
    z-index: 1;
    pointer-events: none;
}
#myWallpaper{
    position: absolute;
    top: 15px;
    z-index: -1;
    pointer-events: none;
}

#myAccessories{
    position: absolute;
    right: 214px;
    top: -6px;
    z-index: 2;
    pointer-events: none;
}

.buttoncolor {
    display: inline-block;
    padding-top: 10px;
    width: 450px;
    height: 355px;
    background: rgb(255, 255, 255);
    box-shadow: 13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(26.1418px);
    border-radius: 31.3701px;
}

.buttoncolor input{
    width: 65px;
    border-radius: 15px;
    margin-left: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    image-rendering: pixelated;
    background-color: rgba(143, 146, 157, 0.12);
    border-style: dashed;
    border-color: rgba(100, 109, 121, 0.35);
}

.answer_box .start {
    margin-top: 20px;
    margin-bottom: 20px;
}

#finish {
    width: 150px;
    margin-top: 25px;
}

#mess {
    display: flex;
    position:absolute;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    width: 280px;
    height: 80px;
    left: 40%;
    top: -13%;      
    background: rgb(255, 255, 255);
    box-shadow: 13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(26.1418px);
    border-radius: 31.3701px;
    border-style: solid;
}

#mess p{
    padding-bottom: 35px;
    margin-top: -7px;
    width: 230px;
}