body
{
    height: 100%;
    font-family: Rubik;
}

.ui-button
{
    padding: 10px 25px !important;
}

#rectangle {
    position: absolute;
    display: grid;
    width: 313.7px;
    height: 270px;
    left: 45%;
    top: 72px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(26.1418px);
    border-radius: 31.3701px;
}

.avatar .ava {
    position: absolute;
    image-rendering: pixelated;
    padding-left: 85px;
    left: 45%;
    width: 220px;
    pointer-events: none;
}

.avatar .ava #accessory {
    padding-left: 45px;
}

.avatar .nickname {
    position: absolute;
    width: 261.42px;
    height: 26px;
    padding-left: 60px;
    left: 45%;
    top: 132px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #242730;
}

.avatar .heart{
    position: absolute;
    display: inline-flex;
    width: 29.56px;
    height: 28px;
    padding-left: 120px;
    left: 45%;
    top: 170px;
    image-rendering: pixelated;
    pointer-events: none;
}

.avatar .heart img{
    padding: 2px;
}

.avatar .level{
    display: inline-flex;
    position: absolute;
    left: 45%;
    top: 333px;
    padding-left: 40px;
}

.avatar .level p{
    display: flex;
    width: 39px;
    height: 22px;
    font-weight: 400;
    color: #959BA5;
    padding-bottom: 30px;
    margin-right: 50px;
    padding-left: 15px;
    justify-content: center;
}

.avatar .level .num{
    justify-content: center;
    color: #242730;
    display: flex;
    width: 36px;
    height: 40px;
    left: 60.43px;
    font-weight: 700;
    font-size: 28.7559px;
    margin-top: -15px;
    padding-left: 20px;
}

.avatar .xp img{
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 55px;
    left: 45%;
    top: 205px;
    z-index: 2;
    image-rendering: pixelated;
    pointer-events: none;
}

progress {
    display: block; /* default: inline-block */
    width: 150px;
    margin: 2em auto;
    padding: 4px;
    border: 0 none;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
progress::-moz-progress-bar {
    border-radius: 12px;
    background: #ffffff;
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);

}   
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    progress {
        height: 25px;
    }
}
progress::-webkit-progress-bar {
    background: transparent;
}
progress::-webkit-progress-value {
    border-radius: 12px;
    background: #ffe330;
    box-shadow: inset 0 1px 1px 1px rgba(0,0,0,0.4), 0 1px 1px 1px rgba(0,0,0,0.3);
}

.avatar .xp #xpvalue{
    position: absolute;
    margin-left: 85px;
    left: 45%;
    top: 175px;
}

.input .area {
    position: absolute;
    width: 290px;
    height: 35px;
    left: 45%;
    top: 375px;
    margin-left: 10px;
    resize: none;

    box-shadow: 13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(26.1418px);
    border-radius: 20px;
    /* Note: backdrop-filter has minimal browser support */
    border-color: rgba(255, 255, 255, 0.2);
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    color: #000000;
}

.input input:active {
    color: #3D3655;
    border-color: #3D3655;
}

#rectangle2 {
    position: absolute;
    display: grid;
    width: 313.7px;
    height: 225px;
    left: 45%;
    top: 360px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(26.1418px);
    border-radius: 31.3701px;
}

.input .area2 {
    position: absolute;
    width: 290px;
    height: 55px;
    left: 45%;
    top: 415px;
    margin-left: 10px;
    resize: none;

    box-shadow: 13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(26.1418px);
    border-radius: 20px;
    /* Note: backdrop-filter has minimal browser support */
    border-color: rgba(255, 255, 255, 0.2);
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    color: #000000;
}

.buttonstask {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 156.85px;
    height: 70px;
    left: 45%;
    padding-left: 75px;
    top: 468px;
    color: #959BA5;
}

.buttonstask a{
    font-size: 30px;
    margin-right: 40px;
    text-decoration: none;
}

.buttonstask :hover {
    color: #3D3655;
}

#buttonadd {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3D3655;
    color: #FFF;
    position: absolute;
    font-family: 'Rubik';
    width: 100px;
    height: 34px;
    left: 45%;
    margin-left: 110px;
    top: 535px;
    border-radius: 20px;
}

#buttonadd:hover {
    background-color: #4c4075;
}

#rectangle3 {
    position: absolute;
    display: grid;
    width: 313.7px;
    height: 300px;
    left: 45%;
    top: 605px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(26.1418px);
    border-radius: 31.3701px;
}

label.btn span {
    font-size: 20px;
    font-family: 'Rubik';
}

.btn-group .descr {
    font-size: 12px;
    display: inline;
    position: absolute;
    float: left;
    margin-top: -30px;
    font-family: 'Rubik';
}

.btn-group .date {
    font-size: 12px;
    display: inline;
    position: relative;
    float: right;
    margin-right: 10px;
    margin-top: -30px;
    font-family: 'Rubik';
}

.btn-group .descrdate {
    font-size: 12px;
    display: block;
    font-family: 'Rubik';
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #959BA5;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #3D3655;
    display: inline;
}

label input[type="checkbox"]{
    display: none;
}

label:hover input[type="checkbox"] ~ i.fa {
    color: #3D3655;
}

div[data-toggle="buttons"] label {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    line-height: 3em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    border: 0px solid #959BA5;
    border-radius: 3px;
    color: #959BA5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div[data-toggle="buttons"] label:hover {
    color: #3D3655;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-group {
    display: grid;
    flex-direction: column;
    position: absolute;
    width: 310px;
    height: 295px;
    margin-left: 5px;
    margin-top: -5px;
    top: 620px;
    left: 45%;
    overflow-y:scroll;
}

.btn-group span{
    margin-left: 5px;
}

.btn-group::-webkit-scrollbar { width: 0; }

.buttonSet {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.start {
    position: absolute;
    top: 550px; 
    left: 45%;
    width: 100px;
    margin-left: 320px;
    border-radius: 25px;
    padding-left: 20px;
}

.close {
    justify-content: center;
    align-items: center;
    background-color: #3D3655;
    color: #FFF;
    position: absolute;
    width: 100px;
    height: 34px;
    margin-left: 365px;
    margin-top: 10px;
    left: 45%;
    top: 570px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Rubik';
    z-index: 3;
}

.close:hover {
    background-color: #4c4075;
}

.delete {
    float: right;
    margin-top: -48px;
    margin-left: 160px;
}

.delete img {
    pointer-events: none;
}

.searchbar {
    font-size: 1.2rem;
    width: 18rem;
    height: 3rem;
    border: none;
    outline: none;
    border-radius: 10rem;
    box-shadow: 13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1);
}
.searchbar::placeholder {
    padding-left: 5px;
    color: #959BA5;
}

.searchbar::target-text {
    padding-left: 5px;
}
.buttonSearch {
    height: 1.3rem;
    position: absolute;
    top: 0.9rem;
    right: 1rem;
    transition: all .1s;
    transition-delay: .1s;
}

.buttonSearch:hover {
    cursor: pointer;
}

.container button{
    position: absolute;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    right: 120px;
}

.dropdown-content a {
    color: black;
    padding: 2px;
    text-decoration: none;
    display: block;
    z-index: 5;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

.msgbox {
    position: absolute;
    left: 50px;
    bottom: 15px;
    width: 190px;
    height: 40px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(26.1418px);
    border-radius: 31.3701px;
    z-index: 2;
}

.msgbox p {
    display: inline-flex;
    font-family: Rubik;
    margin-left: 13px;
    margin-top: 3px;
}

.msgbox img {
    image-rendering: pixelated;
    height: 30px;
    padding-bottom: 7px;
}

#imgstar {
    margin-top: 5px;
    padding-left: 3px;
    height: 20px;
}